/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

form {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #f9f0da;
  outline: none;
  position: relative;
  transition: 0.3s linear;
}
input:focus {
  width: 300px;
}

button {
  width: 100px;
  height: 42px;
  border: 2px solid #324b4e;
  background: #324b4e;
  align-content: center;
  border-radius: 42px;
  color: #f9f0da;
}
